section#slider-section{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
    user-select: none;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--color-white) !important;
    transition: 0.3s color;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: var(--color-white-hover) !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-black) !important;
}
.center-slider-text{
    position: absolute;
    color: black;
    z-index: 1000;
    text-align: center;
    font-size: 40px;
    top: 35%;
    text-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 60px;
}
.right-top-slider-text {
    display: inline-block;
    overflow: hidden;
    color: white;
    text-shadow: 3px 3px 9px black;
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 1000;
}
.right-top-slider-text blockquote {
    display: inline-block;
    margin: 0;
    padding: 1em;
    position: relative;
}
.right-top-slider-text blockquote cite {
    display: block;
    font-style: italic;
    text-align: right;
}


@media (max-width: 750px){
    .center-slider-text{
        top: 25%;
        font-size: 35px;
    }
}
@media (max-width: 650px){
    .right-top-slider-text{
        margin: 0 30px;
    }
}